include head.pug
body
  div.container
    div.top 
      h1= name
      div.flex-container
        div.inner-container
          div#main
            h1= mainTemp
            p &#176 F
          div#highLow
            div#high
              p High: 
              p= temp_max 
              p &#176 F
            div#low
              p Low: 
              p= temp_min 
              p &#176 F
      h3= weatherDescription
    div.bottom
      h3 Humidity
      p= humidity
      p %
      h3 Wind Speed
      p= speed
      p m/h
      h3 Clouds 
      p= clouds
      p %
      a(href="/") Back to Search